/* global css */
a{
    text-decoration: none;
}
/* menu section */
.logo img{
    width: 70px;
}
.mainMenu {
    text-align: right;
}
/* banner section start */
.banner-left {
    padding-top: 146px;
}
.banner-left h5 {
    margin-bottom: 31px;
}
.banner-left h2{
    margin-bottom: 31px;
}
.banner-left p{
    margin-bottom: 31px;
}
