/* global css */
a{
    text-decoration: none;
}
/* menu section */
.logo img{
    width: 70px;
}
.mainMenu {
    text-align: right;
}
/* banner section start */
.banner-left {
    padding-top: 146px;
}
/* program section */
.programSection{
    background-color: #8490ff;
    color: white;
}